.pageContiner {
    padding: 10px;
}

.woods{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.snowman{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.option-chooser{
    border-radius: 6px;
    border: 2px solid grey;
    padding: 10px;
}