<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row p-3 m-3">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Умови гри</mat-card-title>
        </mat-card-header>
        <mat-card-content
          ><p>
            У зв’язку з наближенням зими виникає проблема створення вугільних
            запасів для житлового селища. Якщо зима має бути м’якою, то виникає
            потреба в 12000 тоннах вугілля, якщо нормальною – 15000, а у випадку
            суворої зими – 18000. Залежно від того, яка буде зима – м’яка чи
            сувора – вартість тонни вугілля складає відповідно 10, 12, 14
            умовних грошових одиниць. В нинішній час вугілля можна придбати за
            10 одиниць за тонну. Необхідно створити найбільш відповідний запас
            вугілля для зими.
          </p></mat-card-content
        >
      </mat-card>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <img class="woods" src="assets/images/woods.png" alt="woods" />
    </div>
    <div class="col-lg-8">
      <div class="pageContiner">
        <app-table [data]="data"></app-table>
      </div>
    </div>
    <div class="col-lg-2">
      <img class="snowman" src="assets/images/snowman.png" alt="snowman" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 option-chooser">
      <div class="row">
        <h2>Обрати стратегію першого гравця</h2>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select
            [(value)]="selectedFirstPlayerStrategy"
            (selectionChange)="onFirstPlayerOptionChanged($event)"
          >
            <mat-option>None</mat-option>
            <mat-option value="12000">12000</mat-option>
            <mat-option value="15000">15000</mat-option>
            <mat-option value="18000">18000</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center">
          <button mat-raised-button color="primary" (click)="onPlayClick()">
            Грати
          </button>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <button mat-raised-button (click)="onResetClick()">Сброс</button>
        </div>
      </div>

      <div class="row m-3" *ngIf="isPlayClicked">
        <p>Стратегія другого гравця: {{ secondPlayerStrategy }}</p>
        <p>Ваш вигриш: {{ firstPlayerWin }}</p>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
